*{
    padding: 0;
    margin: 0;
    --primary-color:rgb(213, 0, 0);
    --primary-color-transparent:rgb(213, 0, 0, 0.6);
    --white:#ffffff;
    --black:#000000;
    --black-transparent:rgba(0,0,0, 0.6);
    --gray-transparent:rgba(167,167,167,.4);
}
body{
    font-family: 'Oswald', sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.sec-space{
    padding: 70px 0;
}

.header-wrapper{

    position: relative;
}
.header{
    position: absolute;
    width: 100%;
    top: 0;
    
}
.hero-top-text{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    
    text-align: center;
}
.hero-top-text h1{
    color: var(--white);
    font-size: 96px;
}
.hero-top-text a{
    color: var(--white);
    padding: 12px 24px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: all 1s;
}
.hero-top-text a:hover{
    color: var(--primary-color);
    background-color: var(--white);
}
.header .hero-wrapper img{
    width: 100%;
}
.top-socialbar{
    background-color: var(--primary-color-transparent);
}
.socialbar-inner{
    display: flex;
    justify-content: space-between;
}
.top-socialbar ul{
   list-style-type: none; 
}
.top-socialbar ul.top-contact{
   font-weight:200;
}
.top-socialbar ul.right-social-list{
   display: flex;
}

.top-socialbar ul.right-social-list li a span{
    -webkit-transition: width 2s,-webkit-transform 2s;
}
.top-socialbar ul.right-social-list li a span:hover{
   color: var(--black);
   display: inline-block;
   -webkit-transform:rotateY(-360deg);
}
.top-socialbar ul li{
   padding: 12px;
}
.top-socialbar ul li a{
   color: var(--white);
   text-decoration: none;
}

.main-navbar img{
    width: 150px;
}
.main-navbar{
    background-color: var(--black-transparent);
    padding: 12px 0;
}
.main-nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-navbar ul{
    display: flex;
    list-style-type: none;
}
.main-navbar ul li:last-child{
    margin-right: 0;
}
.main-navbar ul li{
    margin: 0 6px;
}
.main-navbar ul li a{
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    padding: 6px 12px;
}
.main-navbar ul li a:hover{
    background-color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 6px;
}
.active{
    background-color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 6px;
}


.lead-text{
    text-align: center;
    font-size: 32px;
}
.lead-text h2{
    position: relative;
    display: inline-block;
    color: var(--primary-color);
}
.lead-text h2::after{
    content: '';
    width: 30px;
    height: 3px;
    background-color: var(--gray-transparent);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -32px;
}
.lead-text h2::before{
    content: '';
    width: 30px;
    height: 3px;
    background-color: var(--gray-transparent);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -32px;
    
}


.menu-inner-wrapper{
    display: flex;
}
.menu-inner-wrapper .menu-card{
    width: 25%;
    position: relative;
    margin: 0 10px;
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: var(--black-transparent);
}
.menu-inner-wrapper .menu-card img{
    width: 100%;
    display: block;
}
.menu-inner-wrapper .menu-card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}
